{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": ["./tests/babel-plugin-transform-import-meta-env.cjs"]
}
